body
  {
    background:      url("/css/Fabrizio's Java -version.png") no-repeat left 20px;      
  }

/* div.nw-tagCloud h2 */
div.tagCloud h2
  {
    margin-top:   32px;
  }

/* FIXME: here only because this file overrides StoppingDown.css */
div.tagCloud
  {
    font-size:       45%;
    text-align:      left;
  }

a.tagCloudItem.rank1
  {
    font-size:       200%;
  }

a.tagCloudItem.rank2
  {
    font-size:       190%;
  }

a.tagCloudItem.rank3
  {
    font-size:       180%;
  }

a.tagCloudItem.rank4
  {
    font-size:       170%;
  }

a.tagCloudItem.rank5
  {
    font-size:       160%;
  }

a.tagCloudItem.rank6
  {
    font-size:       150%;
  }

a.tagCloudItem.rank7
  {
    font-size:       140%;
  }

a.tagCloudItem.rank8
  {
    font-size:       130%;
  }

a.tagCloudItem.rank9
  {
    font-size:       120%;
  }

a.tagCloudItem.rank10
  {
    font-size:       100%;
  }

a.tagCloudItem.rankOthers,
a.tagCloudItem.rankothers
  {
    font-size:       90%;
  }

div#disqusAccept
  {
    border-radius:      7px;
    margin-left:        80px;
    margin-right:       80px;
    font-size:          80%;
    padding:            10px;
    background-color:   #c1cfea;
    color:              #2a3a5c
  }

div#disqusAccept button
  {
    border-radius:      7px;
    font-size:          70%;
    font-weight:        bold; 
    padding:            6px 20px 6px 20px;  
    margin:             0 5px;
    background-color:   #2a3a5c; 
    color:              #c1cfea
  }
  