@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Questrial|Muli:300,400,300italic,400italic");

body
  {
    background: #ffffff;
    font-family: Muli, serif;
    font-size: 110%;
    line-height: 1em;
  }

p, li
  {
    font-size: 75%;
    line-height: 1.7em;
    text-align: justify;
  }

em
  {
    font-size:   75%;
    font-family: Muli, serif;
    line-height: 1.7em;
  }

p em
  {
    font-size:   110%;
    font-family: Muli, serif;
  }

h1, h2, h3, h4
  {
    font-family: Questrial, Arial, sans-serif;
  }

body
  {
    font-family:     Muli, sans-serif;
    font-size:       110%;
    line-height:     1em;
  }
 
code, pre 
  {
    font-family:     "Andale Mono", "Courier New", monospace;
  } 
  
code
  {
    background-color: #f0f0f0;
  }
  
pre.prettyprint
  {
    background:       #EFF9EF url("/css/tab-code.png") no-repeat left top !important;
    border-width:     0 !important;
    padding-left:     50px !important;
    padding-top:      10px !important;
    padding-bottom:   10px !important;
    padding-right:    10px !important;
    margin-top:       20px !important;
    margin-bottom:    20px !important;
    border-radius:    8px !important;
  }

blockquote, div.note, div.tip, div.alert
  {
    padding-left:     50px;
    padding-top:      10px;
    padding-bottom:   10px;
    padding-right:    10px;
    margin-top:       20px;
    margin-bottom:    20px;
    border-radius:    8px;
  }
  
blockquote 
  {
    background:       #f0f0f0;
  }

div.note 
  {
    background:       #fffce0 url("tab-note.png") no-repeat left top;
  }

div.tip 
  {
    background:       #f8eaff url("tab-pin.png") no-repeat left top;
  }

div.alert
  {
    background:       #F9D9D8 url("tab-alert.png") no-repeat left top;
  }

div.nwXsltMacro_Diagram
  {
    border:           1px;
    background-color: #d0d0d0;
    padding:          10px;
    margin-top:       2px;
  }
p.nwXsltMacro_Diagram_image_path:before
  {
    content:          "Diagram: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Diagram_caption:before
  {
    content:          "Caption: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }
