body
  {
    background:      #ffffff;
    padding-top:     200px !important;
    min-width:       1076px !important;
/*    min-width:       1020px !important;*/
  }
  
a,
a:link,
a:active,
a:visited, 
a:hover
  {
    cursor:          pointer;
    color:           #5574b7;
  }
  
li
  {
    color:           rgb(64, 64, 64);      
  }

.accessibility
  {  
    visibility:      collapse;  
  }

p.break
  {
    clear:         both;  
  }

/**************** CONTENT **********************************************************************************************/
  
.container-fluid > .content
  {
    margin-left:     0px;
    margin-right:    220px;
  }

footer 
  {
    border-top:      1px dashed #E0E0E0;
    margin-top:      100px;
    padding-top:     20px;
    padding-left:    0px;
  }

.nw-blog-post-meta
  {
    position:        relative;
    top:             -4px;
    margin-bottom:   40px;
  }

.tags 
  {
    position:        relative;
    top:             -90px;
    left:            +10px;
    margin-bottom:   40px;
  }

.nw-blog-post-content
  {
    top:             -90px;
  }

.nw-breadcrumb 
  {
    text-align:      right;
    width:           820px;
    padding-left:    20px;
    padding-top:     20px;
  }

/**************** TOPBAR **********************************************************************************************/

.topbar
  { 
    min-width:       1020px !important;
  }
  
.topbar .fill
  {
    color:           white;  
    background:      #2a3a5c;
    padding-left:    10px;
    padding-right:   20px;
  }
  
.topbar a,
.topbar a:link,
.topbar a:active,
.topbar a:visited, 
.topbar a:hover
  {
    color:           white;  
    text-align:      left;
    font-weight:     normal;
  }
  
.topbar a:hover
  {
    text-decoration: underline;
  }
  
.topbar .fill,
.topbar ul,
.topbar li, 
.topbar p,
.topbar a,
.topbar a:link,
.topbar a:active,
.topbar a:visited, 
.topbar a:hover
  {
    color:           #c1cfea;
    height:          36px !important;
    line-height:     36px !important;
    padding-top:     0px;
    padding-bottom:  0px;
    font-variant:    small-caps;
  }

.topbar li 
  {
    text-align:      left;
    border-right:    0;
  }
  
/**************** SIDEBAR *********************************************************************************************/
  
.container-fluid > .sidebar
  {
    float:           right; 
    width:           200px; 
    left:            auto;
    right:           0px;
    margin-right:    20px;
  }
  
.sidebar ul 
  {
    list-style:      none;
    margin:          0; 
    padding:         0;
  }

.sidebar li 
  {
    text-align:      left;
    padding-top:     2px;
    padding-bottom:  2px;
    margin:          0;
  }
  
.nw-sidebarSlot1, 
.nw-sidebarSlot2, 
.nw-sidebarSlot3, 
.nw-sidebarSlot4, 
.nw-sidebarSlot5, 
.nw-sidebarSlot6, 
.nw-sidebarSlot7
  {
    padding:         8px 0px 8px 0px;
/*    border:          0px;*/
    margin-bottom:   10px;
  }

.well
  {
    padding:         0px;  
    border:          none;
    background:      transparent;
    box-shadow:      none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  
/****************        **********************************************************************************************/

div.nw-addthis 
  {
    position:        fixed;
    right:           10px;
    top:             12px;
    width:           200px;
    z-index:         10001;
  }

.counter, .feedPanel
  {
    font-family:     'PT Sans Narrow', Arial, sans-serif;
    text-align:      left;
    font-size:       80%;
  }

div.nw-disqus
  {
    margin-top:      100px;  
  }